.dRed{
    color: darkred;
}
.red{
    color: red;
}
.booC{
    font-family: 'Black Ops One', cursive;
}
.imgEdit{
    width: 100%;
    height: 50%;
}
.display-5{
    font-size: 130%;
}
.container{
    padding-top: 60px;
}