{% extends "base.html.twig" %}
{% block navContent %}
    <li class="nav-item">
        <a class="nav-link" href="">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">trainings aanbod</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">lid worden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">gedragsregels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">locatie & contact</a>
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}