{% extends "bezoeker.html.twig" %}
{% block content %}
<div class="m-2 ">
    <h1 class="text-center">Gedrags regels</h1>
    <table class="table m-5">
        <tbody class="w-100">
            <tr>
                <td>1.</td>
                <td>ipsum lorem ipsum loremipsum loremipsum loremipsum loremipsum loremipsum</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>ipsum lorem</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>ipsum lorem</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}