{% extends "bezoeker.html.twig" %}
{% block content %}
    <div class="col-6 mt-3">
        <h1 class="dRed ">Welkom bij trainings Factory Den Haag</h1>
        <p> Den Haag Training Factory is een sportschool waar onder professionele begeleiding in een veilige
            omgeving verschillende soorten martial arts-, indoor bootcamps, personal- en small group trainingen
            worden aangeboden. hier kan je je in of uitschrijven voor een les</p>
    </div>
{% endblock %}