<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Training-Factory{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/customCss.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="img/training-factory.png" alt="PNG not found">
            </div>
            <div class="col-7">
                <h1 class="booC mt-3 display-3">Training Factory<br>Den Haag </h1>
            </div>
            <div class="col-3">
                {#                    inlog locatie#}
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
    <nav class="nav justify-content-center bg-light mb-2">
        <ul class="nav">
            {% block navContent %}

            {% endblock %}
        </ul>
    </nav>
{% endblock %}
{% block paginaImg %}
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="img-fluid " src="img/training_1.jpg" alt="Image Not Found">
            </div>
            <div class="col-3">
                <img class="img-fluid " src="img/training_2.jpg" alt="Image Not Found">
            </div>
            <div class="col-3">
                <img class="img-fluid " src="img/training_3.jpg" alt="Image Not Found">
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    <div class="container-fluid">
        <footer class="text-center fixed-bottom bg-dark p2">

            <h6 class="red pt-2">Training Centrum Den Haag - 010 519 0532</h6>
            <p> Developed by ROC mondriaan 2019</p>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
</body>
</html>
